@import '../vars';

.page-music-local {
	& > .artist-list {
		&, & > viewport, & > viewport > list {
			background-color: $artist-list-bg;
		}

		& > viewport > list {
			& > row {
				padding: $halvedpadding;
			}
		}
	}

	& > stack {
		& > .artist-view {
			& > viewport > .artist-view-content {
				& > .album-list {
					& > flowboxchild > .album-view {
						& > overlay {
							margin-right: $itempadding;
						}
					}
				}
			}
		}
	}
}
