@import '../vars';

.page-music-local {
	& > .artist-list {
		&, & > viewport, & > viewport > list {
			background-color: $midnight;
		}

		& > viewport > list {
			& > row {
				padding: $halvedpadding;
			}
		}
	}

	& > stack {
		& > .artist-view {
			& > viewport > .artist-view-content {
				padding: $itempadding;

				& > .album-strip {
					margin-bottom: $itempadding;
					& > flowboxchild {
						margin-right: $itempadding;
					}
				}

				& > .album-list {
					& > flowboxchild > .album-view {
						& > image {
							margin-right: $itempadding;
						}

						& > box {
							& > label {
								font-size: xx-large;
								font-weight: 900;
								padding: $halvedpadding 0;
							}
						}
					}
				}
			}
		}
	}
}
