@import '../vars';

.playlist-page {
	.playlist-page-header { // Our header
		& > .playlist-page-header-info { // Our info centerbox
			margin-left: 40px;

			& > label { // All labels
				color: $text-color-faded;
			}

			& > label:nth-child(1) { // First item (type of playlist)
				font-size: 3ex;
				font-weight: 700;
				margin-top: 30px;
				margin-bottom: 10px;
			}

			& > label:nth-child(2),
			& > label:nth-child(3) {
				font-weight: 800;
			}

			& > label:nth-child(2) { // Second item (playlist name)
				font-size: 10ex;
			}

			& > label:nth-child(3) { // Third item (number of tracks)
				font-size: 4ex;
				margin-top: 40px;
			}
		}

		& > .koto-button {

		}
	}
}