$koto-primary-color: $green;

$bg-primary : #fafafa;
$bg-secondary : $palewhite;

$border-color: $darkgrey;

$text-color-bright: $midnight;
$text-color-faded: $darkgrey;

$button-destructive-color-bg: $red;
$button-destructive-color-text: white;
$button-suggested-color-bg: $koto-primary-color;
$button-suggested-color-text: $midnight;
$button-normal-color-bg: white;
$button-normal-color-text: $text-color-bright;
$button-normal-color-border: $darkgrey;

$input-background: $bg-primary;

$artist-list-bg: $bg-secondary;
$player-bar-icon-color: $darkgrey;

$selected-row-color-bg : $koto-primary-color;
$selected-row-color-text : $midnight;