$koto-primary-color: $green;

$bg-primary : #2e2e2e;
$bg-secondary : $midnight;

$border-color: black;

$text-color-bright: white;
$text-color-faded: $palewhite;

$button-destructive-color-bg: $red;
$button-destructive-color-text: white;
$button-suggested-color-bg: $koto-primary-color;
$button-suggested-color-text: $midnight;
$button-normal-color-bg: $midnight;
$button-normal-color-text: $text-color-bright;
$button-normal-color-border: black;

$input-background: $bg-primary;

$primary-nav-button-active-color: $bg-secondary;

$artist-list-bg: $bg-secondary;
$player-bar-icon-color: $darkgrey;

$selected-row-color-bg : $koto-primary-color;
$selected-row-color-text : $midnight;