@import "vars";

.koto-button {
	border-width: 0;

	& > .button-label {
		margin-left: 10px;
	}

	&:not(.active) {
		color: $text-color-bright;
	}

	&.active > image {
		color: $koto-primary-color;
	}
}
