@import "vars";

.discs-list {
	background-color: transparent;
	border-color: transparent;
	border-width: 0;

	.disc-view {
		& > box { // Horizontal box with image and disc label
			color: $text-color-faded;
			margin: 10px 0;
		}
	}
}