@import 'components/cover-art-button';
@import 'components/gtk-overrides';
@import 'components/track-table';
@import 'pages/artist-view';
@import 'pages/music-local';
@import 'pages/playlist-page';

@import 'button';
@import 'disc-view';
@import 'expander';
@import 'player-bar';
@import 'primary-nav';
@import 'track-item';

window {
	color: $text-color-bright;
	background-color: $bg-primary;

	& > headerbar, & > headerbar:active {
		background-color: $bg-secondary;
		background-image: none;
	}

	.koto-dialog-container {
		background-color: transparentize($bg-secondary, 0.25);
		padding: 20px;
	}

	// All the classes we want consistent padding applied to for its primary content
	.artist-view-content, // Has the albums
	.playlist-page { // Individual playlists
		padding: $itempadding;
	}
}
