@import 'components/album-info';
@import 'components/audiobook-view';
@import 'components/badge';
@import 'components/cover-art-button';
@import 'components/gtk-overrides';
@import 'components/track-list';
@import 'components/track-table';
@import 'components/writer-page';
@import 'pages/audiobook-library';
@import 'pages/artist-view';
@import 'pages/music-local';
@import 'pages/playlist-page';

@import 'button';
@import 'disc-view';
@import 'expander';
@import 'player-bar';
@import 'primary-nav';
@import 'track-item';

window {
	color: $text-color-bright;
	background-color: $bg-primary;

	& > headerbar, & > headerbar:active {
		background-color: $bg-secondary;
		background-image: none;
		border-bottom-width: 0; // Unset default styling for headerbar

		&:active windowcontrols button { // Minimize, Maximize, Close buttons when window is active
			color: $text-color-bright;
			text-decoration-color: $text-color-bright;
		}

		&:not(:active) windowcontrols button { // Minimize, Maximize, Close buttons when window is inactive
			color: $text-color-faded;
			text-decoration-color: $text-color-faded;
		}
	}

	.koto-dialog-container {
		background-color: transparentize($bg-secondary, 0.25);
		padding: 20px;
	}

	// All the classes we want consistent padding applied to for its primary content
	.artist-view-content, // Has the albums
	.playlist-page, // Individual playlists
	.writer-page { // Writer page in Audiobook
		padding: $itempadding;
	}
}
