@import 'vars';

.player-bar {
	background-color: $midnight;
	background-image: none;
	padding: $halvedpadding;

	.koto-button {
		&:not(.toggled) {
			color: $darkgrey;
		}

		&.toggled {
			color: white;
		}
	}
}
