.primary-nav {
	padding: 20px;

	& > viewport > box {
		& > .koto-button, // Direct buttons like Home
		& > .expander > .expander-header { // Expander Headers
			font-size: large;
			padding: 10px 0;
		}

		& > .expander {
			& > .expander-header {
				color: $text-color-faded;
			}
		}
	}
}