@import 'components/gtk-overrides';
@import 'pages/music-local';
@import 'pages/playlist-page';
@import 'variants/dark/main';

@import 'button';
@import 'disc-view';
@import 'expander';
@import 'player-bar';
@import 'primary-nav';
@import 'track-item';
@import 'vars';

window {
	& > headerbar, & > headerbar:active {
		background-image: none;
	}

	.koto-dialog-container {
		padding: 20px;
	}

	// All the classes we want consistent padding applied to for its primary content
	.artist-view-content, // Has the albums
	.playlist-page { // Individual playlists
		padding: $itempadding;
	}
}
