@import 'pages/music-local.scss';

@import 'button';
@import 'disc-view';
@import 'expander';
@import 'player-bar';
@import 'primary-nav';
@import 'track-item';
@import 'vars';

window {
	background-color: $grey;

	& > headerbar, & > headerbar:active {
		background-color: $midnight;
		background-image: none;
	}
}
