.primary-nav > .frame > box >.koto-button > box {
	padding: 10px 0;
}

.primary-nav .expander .expander-header {
	padding-bottom: 10px;
}

.expander > revealer > box > .koto-button,
.expander > revealer > box > .koto-button > box {
	min-height: 40px;
}

.koto-button > box > image {
	margin-right: 10px;
}

.primary-nav label,
.expander-header label {
	font-size: large;
}
