window {
	background-color: #2e2e2e;
}

headerbar, .player-bar {
	background-color: #1d1d1d;
}

.primary-nav > .frame > box >.koto-button > box {
	padding: 10px 0;
}

.primary-nav .expander .expander-header {
	padding-bottom: 10px;
}

.expander > revealer > box > .koto-button,
.expander > revealer > box > .koto-button > box {
	min-height: 40px;
}

.koto-button > box > image {
	margin-right: 10px;
}

.primary-nav label,
.expander-header label {
	font-size: large;
}

.page-music-local .artist-list {
	background-color: #1d1d1d;
}

.page-music-local row {
	padding: 10px;
}
